* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  background: #333;
  box-shadow: 0 5px 15px gray;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 6%;
}

.logo {
  font-weight: 750;
  font-size: 40px;
  align-items: center;
  transition: 0.3s;
  color: #ccc;
  font-family: "Times New Roman", Times, serif;
  margin: 15px;
}

.logo:hover {
  transform: scale(1.5);
}

.nav-list li {
  position: relative;
  float: left;
}

.nav-list li a {
  padding: 18px;
  font-size: 20px;
  display: block;
  color: #ccc;
  transition: 0.3s;
}

.nav-list li a:hover {
  transform: scale(1.5);
}

.page {
  background: #333;
  margin: 6% 7%;
  box-shadow: 0 5px 15px gray;
  border-radius: 1%;
  padding: 30px;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
}

.page-list li {
  max-width: 320px;
  height: auto;
  position: relative;
  float: inline-start;
  margin: 20px 37px;
}
.page-list li img {
  border-radius: 10%;
  display: block;
  box-shadow: 0 5px 15px gray;
  align-items: center;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test img {
  border-radius: 10%;
  box-shadow: 0 5px 15px #ccc;
}

.text {
  margin: 40px;
  font-size: 16px;
  color: #ccc;
}
