body {
    background-color: #2b2b2b; 
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: gold;
    font-size: 100px;
}

.text {
    color: goldenrod;
    line-height: 1.5;
}
