* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;


}
body {
    background: url(../images/apple-seamless-background-repeating-pattern-wallpaper-background-cute-seamless-pattern-background_42349-850.avif);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
  }

.navbar {
    background: #ccc;
    box-shadow: 0 5px 15px gray;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 6%;
}

.logo {
    font-weight: 750;
    font-size: 40px;
    align-items: center;
    transition: 0.3s;
    color: rgb(230, 75, 80);
    font-family:'Times New Roman', Times, serif;
    margin: 15px;
}

.logo:hover {
    transform: scale(1.5);
}

.nav-list li {
    position:relative;
    float: left;
}

.nav-list li a{
    padding: 18px;
    font-size: 20px;
    display: block;
    color: #001553;
    transition: 0.3s;
}

.nav-list li a:hover{
    transform: scale(1.5);
}

.page {
    background: #ccc;
    margin: 6% 7%;
    height: 300vh;
    box-shadow: 0 5px 15px gray;
    border-radius: 1%;
    padding: 30px;
}

.page-list li {
    max-width: 320px;
    height: auto;
    position: relative;
    float: inline-start;
    margin: 20px;

}
.page-list li img {
    border-radius: 10%;
    display: block;
    box-shadow: 0 5px 15px gray;
    align-items: center;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test img {
    border-radius: 10%;
    box-shadow: 0 5px 15px rgb(240, 11, 11);
}

.text {
    margin: 40px;
    font-size: 16px;
    color: black;

}
